#introduction {
    color: aquamarine;
    background-color: blueviolet;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  #my-hair-color {
    color: white;
    background-color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }
 #my-favourite-color{background-color: red;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  #mom{background-color:aqua;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;}